<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- 
        Bootstrap界面框架
        可以手动下载Bootstrap库放到项目中
        也可以使用Bootcss社区提供的CDN源加载Bootstrap
       -->
    <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>