<% head.ejs %>
<ul>
    <% articles.forEach((article) => {%>
        <li>
            <a href="/articles/<%= article.id %>"></a>
            <%= article.title %>
        </li>
    <% }) %>
</ul>
<% foot.ejs %>